@font-face{
    font-family:"Bebas Neue W01 Regular";
    src:url("bebas.ttf") format("truetype");
}

body {
    font-family: "Titillium Web", sans-serif;
    background-color: #1e1e20;
    box-sizing: border-box;
    min-height: 100%;
    color: white;
    padding: 3%;
    margin: 0;
}

h1 {
    font-family: "Bebas Neue W01 Regular", sans-serif;
    color: steelblue;
}

#container {
    max-width: 1000px;
    margin: 0px auto;
}

#editor {
    position: relative;
}

#output {
    margin-top: 20px;
    height: 40%;
}

.control {
    font-family: "Bebas Neue W01 Regular", sans-serif;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ddd;
	outline: none;
    color: #ddd;
    padding: .375rem .75rem;
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
}

.control:hover {
    transition-property: color, border-color;
    transition-duration: 0.5s;
    color: white;
    border-color: white;
}

#control-container {
    top: 10px;
    z-index: 9999;
    position: absolute;
    right: 25px;
}

#play-btn {
    width: 85px;
}

#play-btn i {
    font-size: 12px;
    margin-right: 7px;
}

#examples-select {
    -moz-appearance: none;
    -webkit-appearance: none;
    margin-right: 4px;
}

#examples-select option {
    color: black;
}

.line-error { width: 50%; font-family: arial; font-size: 70%; background: #ddb; color: #800000; padding: 2px 5px 3px; }
.line-error-icon {color: #800000; font-weight: bold; margin-right: 7px;}

.error-bg {
    background-color: #800000;
}

.funcall {
    fill: white;
    stroke-width: 0;
    text-anchor: middle;
    font-size: 16px;
    font-family: Lucida Console, monospace;
}

.invisible {
    opacity: 0;
}

.visible {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 1s;
}
